fastapi                  #develop api calls
uvicorn                  #light-weight server, to deploy and run api calls
pymongo                  # connect to cloud db(atlas)
python-dotenv            # read data from .env file
pwdlib[argon2]           # hash the passwords
                         # light weight library
                         #lms(less cost)
PyJWT               # generate tokens
                    # json web token
                    # auth (JWT Auth)